<div class="ssw-tnotify ssw-dropdown">
  <a class="ssw-dropdown-toggle" data-toggle="ssw-dropdown" href="#">
    <i class="ssw-icon-ring"></i>
    <span style="display: none;"></span>
  </a>
  <ul class="ssw-dropdown-menu" aria-labelledby="dLabel" role="menu">
    <li style="text-align: center">
      <span class="ssw-spin ssw-loader" style="margin: 5px 0px;width: 18px;height: 18px"></span>
    </li>
  </ul>
</div>