<div id="ssw-instagram-modal" class="ssw-modal ssw-fade" aria-hidden="true" role="modal">
    <div class="ssw-modal-dialog">
        <div class="ssw-modal-content">
            <div class="ssw-modal-body">
                <button type="button" class="ssw-close ssw-close-modal" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
                <div class="ssw-instagram-content">
                    <div class="ssw-instagram-container">
                        <div class="ssw-instagram-image ssw-text-center">
                            <div class="ssw-instagram-counts-wrapper">
                <span class="ssw-instagram-like-wrapper">
                  <i class="ssw-icon-heart-o"></i> 
                  <span class="ssw-instagram-like-count"></span>
                </span>
                <span>
                  <i class="ssw-icon-chat"></i> 
                  <span class="ssw-instagram-comment-count"></span>
                </span>
                            </div>
                            <div class="ssw-instagram-image-wrapper ssw-hide">
                                <img class="ssw-hide" src="">
                                <div class="ssw-page-loading ssw-img-loading">
                                    <span class="ssw-spin ssw-loader"></span>
                                </div>
                            </div>
                            <div class="ssw-instagram-video-wrapper ssw-hide"></div>
                        </div>
                        <div class="ssw-instagram-details">
                            <div class="ssw-instagram-owner">
                                <a href="" class="ssw-instagram-owner-link ssw-thumb" target="_blank">
                                    <img src="" class="ssw-instagram-owner-image ssw-img-circle">
                                </a>
                                <a href="" class="ssw-instagram-owner-link" target="_blank" title="Owner FullName">Owner Username</a>
                            </div>
                            <div class="ssw-instagram-detail-title"></div>
                            <div class="ssw-instagram-detail-products ssw-text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>