<div id="product-plus">
	<p><strong>Personaliza:</strong></p>
	<div class="row plus-box">
		<div class="col-sm-3">
			<img src="{{ 'globo-temp.jpg' | asset_url }}" class="img-thumbnail">
		</div>
		<div class="col-sm-9">
			<label>Globos disponibles:</label>
			<select class="form-control">
				<option value="none">-- Selecciona:</option>
				<option value="globo-amor">Amor +MXN 70</option>
				<option value="globo-graduacion">Graduación +MXN 70</option>
				<option value="globo-mejorate">Que te mejores! +MXN 70</option>
			</select>
		</div>
	</div>
	<div class="row plus-box">
		<div class="col-sm-3">
			<img src="{{ 'oso-temp.png' | asset_url }}" class="img-thumbnail">
		</div>
		<div class="col-sm-9">
			<label>Osos disponibles:</label>
			<select class="form-control">
				<option value="none">-- Selecciona:</option>
				<option value="globo-amor">Amor +MXN 70</option>
				<option value="globo-graduacion">Graduación +MXN 70</option>
				<option value="globo-mejorate">Que te mejores! +MXN 70</option>
			</select>
		</div>
	</div>
	<div class="row plus-box">
		<div class="col-sm-3">
			<img src="{{ 'chocolate-temp.png' | asset_url }}" class="img-thumbnail">
		</div>
		<div class="col-sm-9">
			<label>Chocolates disponibles:</label>
			<select class="form-control">
				<option value="none">-- Selecciona:</option>
				<option value="globo-amor">Amor +MXN 70</option>
				<option value="globo-graduacion">Graduación +MXN 70</option>
				<option value="globo-mejorate">Que te mejores! +MXN 70</option>
			</select>
		</div>
	</div>
</div>