@import 'Variables.styl'

/*! ////-------------------- Header ----- */

/*! ////-------------------- Generales -- */

.Opcion

	.ContenidoOpcion
		
		.Borde
				
			.Numeralia
				
				.NumSelect
					margin-right 100px
					
/*			.ContenidoFlores
						
				.ContDiasFlores
						
					.ContCarrusel
						
						.ContSlidesCarrusel
							width 931px
							
							.SlidesCarrusel
								width 931px
								
								.Slides
									height 290px
									width 290px
									float left
									margin-right 30px
									
									&:last-child
										margin-right 0
									
									img
										height auto
										width 290px*/

/*! ////-------------------- Footer ----- */