<article id="{{page.handle}}" class="[ page hentry ] [ col-md-12 center ]">
	<header>
		<div class="title-bar custom-font">
			<h2 class="[ text-center ]">{{ page.title }}</h2>
			<div class="clear"></div>
		</div>
	</header>
	<section class="entry-content">
		{{ page.content }}
	</section>
</article>