#checkout_shipping_address_province option { display: none }
#checkout_shipping_address_province option[value="Distrito Federal"] { display: block }
#show-discount-form-link{
	font-size: 22px;
  line-height: 34px;
}


.section__form .btn{
	display: none;
}

#additional-mobile-cta, .section--additional-mobile-cta{
  display: block !important;
  padding: 10px; border: none;
  text-align: right;
  float: right;
}


#checkout_buyer_accepts_marketing{
	display: none;
}

.total-line--taxes {
  display: none;
}

.field--same-billing-address {
  display: none;
}



